
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 0em auto;
  width: 100%;
  text-align: center;
}

.background {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}

.node {
  stroke: black;
  stroke-width: 1px;
  cursor: move;
  fill: beige;
}

.core {
  stroke: black;
  stroke-width: 1px;
  fill: #ffffcc;
}

.synchronizer {
  stroke: black;
  stroke-width: 1px;
  fill: #80b3ff;
}

.router {
  stroke: black;
  stroke-width: 1px;
  fill: #ffb380;
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  opacity: 0.7;
  marker-end: url(#end-arrow);
}

.linkinvisible {
  fill: none;
  stroke: none;
}

.label {
  fill: black;
  font-family: Verdana;
  font-size: 16px;
  text-anchor: middle;
  pointer-events: none;
}

.guideline {
  stroke: orangered;
  stroke-width: 4px;
}

.group {
}

textarea {
   font-size: 12px;
}

.tooltip {
  background: #eeeeee;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  padding: 2px;
  position: absolute;
  visibility: hidden;
}

.sqlbutton {
  display: none;
  background-color: #777;
  color: white;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.sqlbutton:hover {
  background-color: #555;
}

.sqltext {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  overflow-y: scroll;
  background-color: #f1f1f1;
  resize: none;
  width: 80%;
  margin: auto;
  display: none;
}
