
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 0em auto;
  width: 100%;
  text-align: center;
}

pre {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  margin: 25px;
  text-align: left;
}

textarea {
  font-size: 12px;
}
